.homePage {
  height:99.9vh;
  background-image: url('../assets/images/monopoly-car-piece-1634213.jpg');
  /* background: linear-gradient(110deg, #2C4485 60%, rgb(21, 114, 207) 60%); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.gameName {
  position: relative;
  top: 5%;
  left: 5%;
  transform: translate(-50%,-50%) !important;
  animation: santa 5s linear infinite;
}

.santa {
  height: 170px;
}

@keyframes santa {
  0% { transform: translate(0,0); }
  50% { transform: translate(20px,20px); }
  100% { transform: translate(0,0); }
}

.greetingText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
}

.greetingText span {
  color: rgb(157, 211, 224);
  letter-spacing: 5px;
  position: relative;
  font-family: 'Charm', cursive;
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.infoText .line1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-family: 'Charm', cursive;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.infoText .line2{
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #c90a0a;
  font-family: 'Charm', cursive;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.arrow {
  position: fixed;
  left: 50%;
  bottom: 15px;
  margin-left: -15px;
}
